*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    font-style: normal;
    line-height: normal;
    text-align: center;

}
a, li{
    text-decoration: none;
    list-style: none;
}